.profile__avatar-button {
  background-image: url('../../../images/pencil.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0,0,0,0.1);
  background-size: 26px;
  border-radius: 0;
  border-width: 0;
  min-width: 120px;
  min-height: 120px;
  padding:0;
  transition: 0.5s;
  margin-left: 5px;
  opacity: 0;
}

.profile__avatar-button:hover {
  opacity: 1;
  cursor: pointer;
}