.profile__info {
  min-width: 336px;
  max-width: 580px;
}

@media screen and (min-width: 401px) and (max-width: 770px) {
  .profile__info{
    display: flex;
    flex-direction: column;
    min-width: 282px;
  }
}  

@media screen and (max-width: 400px) {
  .profile__info{
    min-width: 100vw;
  } 
}