.form__button {
  background-image: url('../../../images/pensil.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 10px;  
  background-color: #000000;
  border: 1px solid #FFFFFF;
  min-width: 24px;
  min-height: 24px;
  align-self: center;
  margin-left: 25px;
}

@media  screen and (min-width: 357px) and (max-width: 769px){
    .form__button{
        margin-left: 15px;
        align-self:flex-end;
    }
}

@media  screen and (max-width: 356px)  {
    .form__button {
        margin-left: 10px;
        align-self:flex-end;
        min-width: 18px;
        min-height: 18px;
    }
} 