.form__button {
  background-image: url('../../../images/pensil.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 10px;  
  background-color: #000000;
  border: 1px solid #FFFFFF;
  width: 22px;
  height: 22px;
  align-self: center;
  margin-left: 25px;
}

.form__button:hover {
  opacity: 0.6;
  transition: 0.5s;
}

@media  screen and (min-width: 357px) and (max-width: 769px){
  .form__button{
    margin-left: 15px;
    align-self:flex-end;
  }
}

@media  screen and (max-width: 356px)  {
  .form__button {
    margin-left: 10px;
    align-self:flex-end;
    width: 16px;
    height: 16px;
    background-size: 7.5px; 
  }
} 