.popup__container {
  max-width: 430px;
  min-height: 330px;
  align-self: stretch;
  width: 100%;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  z-index: 1;
  background-color: #FFFFFF;
}

@media  screen and (min-width: 477px) and (max-width: 1024px)  {
  .popup__container {
    width: 90%;
  }
}

@media  screen and (max-width: 476px)  {
  .popup__container {
    max-width: 282px;
    min-height: 322px;
  }
}