.popup-container {
  max-width: 470px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

@media  screen and (min-width: 450px) and (max-width: 1024px)  {
  .popup-container {
    width: 80%;
  }
}

@media  screen and (max-width: 449px)  {
  .popup-container {
    max-width: 282px;
  }
}