.popup-close {
  align-self: flex-end;
  padding: 0;
  margin: 0 0 8px;
  color: #FFFFFF;
  z-index: 1;
  max-width: 32px;
}

.popup-close:hover {
  opacity: 0.6;
  transition: 0.5s;
  cursor: pointer;
}

@media  screen and (max-width: 449px) {
  .popup-close {
    max-width: 20px;
    margin: 0 0 16px;
  }
}