.profile__content{
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 361px) and (max-width: 770px) {
  .profile__content {
    margin-top: 25px;
  }
}

@media screen and (max-width: 360px)  {
  .profile__content {
    max-width: 217px;
    justify-content: center;
    margin: 25px 38px 0 65px;
  }
} 