.form__input-container {
  display: flex;
  flex-direction: column;
  margin: 54px 36px 18px;
  padding: 0;
  border: none;
  color: #000000;   
}

@media  screen and (max-width: 449px) {
  .form__input-container {
    margin: 0 22px 45px;
  }
}