.profile__button {
  background-image: url('../../../images/plus.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 22px;  
  background-color: #000000;
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  min-width: 150px;
  min-height: 50px;
  padding:0;
}

.profile__button:hover {
  opacity: 0.6;
  transition: 0.5s;
  cursor: pointer;
}

@media  screen and (max-width: 769px) {
  .profile__button {
    width: 280px;
    background-size: 16px;  
    align-self: center;
    margin: 36px 19px 0 19px;
  }
}