.profile__content{
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 770px) {
  .profile__content {
    margin-top: 28px;
    justify-content: center;
  }
}

@media screen and (max-width: 355px)  {
  .profile__content {
    max-width: 261px;
    margin-left: 19px;
    justify-content: flex-end;
  }
}