.popup {
  visibility: hidden;
  display:flex;
  margin: 0;
  padding: 0;
  width: 100%;
  flex-direction: column;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  justify-content: center;
  align-items: center;
  transition: visibility 0.5s linear,opacity 0.5s linear;
  opacity:0;
}

.popup::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: #000000;
  opacity: 0.5;
}